/* :root {
  --space: 1.5em 0;
  --space: 2em 0;
} */

* {
  margin: 0;
}

html,
body {
  font-family: 'Montserrat', serif;
  font-size: 16px;
  background-color: #f2f8fc;
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: 'Cardo', sans-serif;
  text-align: center;
}
