/* :root {
  --space: 1.5em 0;
  --space: 2em 0;
} */

html,
body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', serif;
  font-size: 16px;
  background-color: #f2f8fc;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: 'Cardo', sans-serif;
  text-align: center;
}

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.Site-content {
  flex: 1 0 auto;
  width: 100%;
}
