#ring-holder {
    display: flex;
    align-content: center;
    justify-content: center;
}

#blog-container {
    display:none;
}

#blog-image {
    width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1#blog_title {
    margin: 15px;
    font-family: 'Montserrat', serif;
}

.quote-hr {
    margin: 20px;
}

.quotes {
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
}

#quote {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.social-share {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.SocialMediaShareButton {
    margin: 3px;
}

audio.react-audio-player {
    margin: 50px auto 25px;
    height: auto;
    display: block;
}

div#blog p,
div#blog li,
div#blog ul {
    width: 75%;
    margin: 0 auto;
    font-family: 'Cardo', sans-serif;
    text-align:left;
}


p#first_para::first-letter {
    color: #E63946;
    float: left;
    font-family: 'Cardo', sans-serif;
    font-size: 75px;
    line-height: 60px;
    padding-top: 10px;
    padding-right: 2%;
    padding-left: 3px;
}

@media screen and (max-width:568px) {
    #blog-image {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    div#blog p {
        width: 100%;
        margin: 0 auto;
        font-family: 'Cardo', sans-serif;
    }
}