.container {
    margin-bottom: 100px;
}

.video-display {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#home {
    background-image: url("https://images.pexels.com/photos/633488/pexels-photo-633488.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1000");
    min-height: 400px;
    position: relative;
    opacity: 0.90;
    padding-top: 50px;
    background-size:cover;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    width: 85%;
    text-align: center;
    color: #fff;
}