.link-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
a.navbar-link {
    text-decoration: none;
    margin: 5px;
    color: #000;
}

#seek {
    font-size: 1.25em;
    display: inline;
}

.navbar-social {
    padding: 10px;
}

.navbar-title {
    padding: 10px;
}

.navbar-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}