.card {
      width: 265px;
      height: 300px;
      margin: 0 auto;
      /* overflow: hidden; */
}

.card-title {
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}