/* nav.footer.navbar.fixed-bottom */
nav.footer.navbar {
  background-color: #4b9cd3;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-img {
  width: 35px;
  height: 35px;
}

#copyright {
  margin-top: 10px;
}
