#main-wrapper {
  padding-right: 0;
  width: 100%;
}

#main-blog {
  width: 60%;
  height: 40vh;
}

#summary {
  width: 40%;
  height: 40vh;
  float: right;
  text-align: left;
  background-color: #4b9cd3;
  color: #fff;
  padding: 2em;
  overflow: hidden;
}

#main-blog-read {
  background-color: #4b9cd3;
  border: 1px solid #fff;
  color: white;
  margin: 5px;
  font-size: 16px;
}

#main-blog-read:hover {
  background-color: #3e80ad;
}

#main-title,
#main-date {
  text-align: left;
}

.blog-container {
  width: 100%;
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

@media screen and (min-width: 1280px) {
  #main-blog,
  #summary {
    height: 55vh;
  }
}

@media screen and (max-width: 736px) {
  #summary {
    padding: 0.5em;
  }
}

@media screen and (max-width: 480px) {
  #main-blog {
    width: 100%;
    height: auto;
  }
  #summary {
    width: 100%;
    height: auto;
    padding: 1.5em;
  }
}
