
.sidenav---sidenav---_2tBP {
    background-color: #2F6690 !important;
}

.ql-container.ql-snow {
    height: 50vh;
    margin-bottom: 20px;
}

.ql-editor {
    background-color: #ffffff;
}

.editor-wrapper,
.uploader-wrapper {
    padding: 10px;
}

#placeholder {
    width: 350px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

input#icon-button-file,
input#icon-button-file-audio,
input#icon-button-file-video {
    display: none;
}

label {
    margin: 15px;
}
