
.sidenav---sidenav---_2tBP {
    background-color: #2F6690 !important;
}

.ql-container.ql-snow {
    height: 50vh;
    margin-bottom: 20px;
}

.ql-editor {
    background-color: #ffffff;
}

.admin-row {
  display: flex;
  justify-content: space-between;
}

.editor-wrapper,
.uploader-wrapper {
    margin: 2em 0;
}

#input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .5em;
}

input#icon-button-file,
input#icon-button-file-audio,
input#icon-button-file-video {
    display: none;
}
