#main-wrapper {
    padding-right: 0;
}

#main-blog {
    width: 70%;
    height: 55vh;
}

.blog-container {
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

#summary {
    width: 30%;
    float:right;
    text-align: left;
    background-color:#4B9CD3;
    color: #fff;
    padding: 45px;
    height: 55vh;
}

/* #summary {
    width: 85%;
} */

#main-blog-read,
.card-button {
    background-color:#4B9CD3;
    border: 1px solid #fff;
    color: white;
    font-size: 12px;
}

.card,
.card-text {
    font-size: .85em;
}

.card-body {
    background-color:#4B9CD3;
    color: #fff;
}

@media screen and (max-width:568px) {
    #main-blog,
    #summary {
        width: 100%;
        height: 35vh;
    }
}