.adsense-container {
  display: block;
  width: 320px;
  height: 100px;
}
@media (min-width: 500px) {
  .adsense-container {
    width: 468px;
    height: 60px;
  }
}
@media (min-width: 800px) {
  .adsense-container {
    width: 728px;
    height: 90px;
  }
}
